<section id="explore">
  <div class="row">
    <div class="span16">
      <% unless signed_in? %>
        <h2>Explore the Pixfizz API</h2>
        <h3>Sign in first to explore Pixfizz's API</h3>
        <p><a href="/sign_in" class="btn primary">Sign into your OAuth Application»</a></p>
      <% end %>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="span16">
      <% if signed_in? %>
        <h2>Explore the Pixfizz API</h2>

        <div class="well">
          <a href="/explore/users/<%= session[:user_id] %>/books.json" class="btn" data-explore>Books</a>
          <a href="/explore/users/<%= session[:user_id] %>/addresses.json" class="btn" data-explore>Addresses</a>
          <a href="/explore/users/<%= session[:user_id] %>/galleries.json" class="btn" data-explore>Galleries</a>
          <a href="/explore/users/me.json" class="btn" data-explore>Me</a>
          <a href="/sign_out" class="btn primary">Sign out</a>
        </div>

        <p>Your access token: <code><%= session[:access_token] %></code> (<a href="/refresh" title="<%= session[:refresh_token] %>">refresh</a>)</p>

        <p><pre id="display-json">Select one of the api methods above</pre></p>
      <% end %>
    </div>
  </div>
</section>

<hr />

<section>
  <div class="row">
    <div class="span16">
    <%= markdown_readme %>
    </div>
  </div>
</section>
